<div class="msg" style="left: {{left}}px; top: {{top}}px;">
  <span>
    <b>{{displayName}}</b> in <a href="/{{fullRoomName}}">{{roomName}}</a>
  </span>
  <img src="{{avatarUrl}}" class="avatar">
</div>
