<div class="modal-content">
  <table class="markdown-help-content">
    <tbody>
      <tr>
        <td colspan="2"><h2>Global shortcuts</h2></td>
      </tr>
      <tr>
        <td><code>?</code></td>
        <td>Open keyboard shortcut help</td>
      </tr>
      <tr>
        <td><code>{{cmdKey}}</code> + <code>/</code></td>
        <td>Toggle compose mode.</td>
      </tr>
      <tr>
        <td><code>q</code> or <code>r</code></td>
        <td>Quote selected text</td>
      </tr>
      <tr>
        <td><code>{{cmdKey}}</code> + <code>s</code></td>
        <td>Focus the search input</td>
      </tr>
      <tr>
        <td><code>{{cmdKey}}</code> + <code>{{gitterKey}}</code> + <code>c</code></td>
        <td>Focus the chat input</td>
      </tr>
      <tr>
        <td><code>{{cmdKey}}</code> + <code>{{gitterKey}}</code> + <code>m</code></td>
        <td>Show markdown help</td>
      </tr>
      <tr>
        <td><code>{{cmdKey}}</code> + <code>{{gitterKey}}</code> + <code>k</code></td>
        <td>Show keyboard shortcuts</td>
      </tr>
      <tr>
        <td><code>{{cmdKey}}</code> + <code>{{gitterKey}}</code> + <code>1</code>...<code>0</code></td>
        <td>Open item at numbered position in the menu bar</td>
      </tr>
      <tr>
        <td><code>↓ ↑</code></td>
        <td>Navigate up and down the left menu once you have focus</td>
      </tr>
      <tr>
        <td><code>← →</code></td>
        <td>Navigate between the menu bar and conversation list in the left menu once you have focus</td>
      </tr>
      <tr>
        <td><code>Enter</code></td>
        <td>Go to the selected room once you have focus</td>
      </tr>
      <tr>
        <td colspan="2">
          <h2>Chat mode shortcuts</h2>
          <em>Active when focusing the chat input</em>
        </td>
      </tr>
      <tr>
        <td><code>{{cmdKey}}</code> + <code>Enter</code></td>
        <td>Send message when in compose mode</td>
      </tr>
      <tr>
        <td><code>↑</code></td>
        <td>Edit previous message (if possible)</td>
      </tr>
    </tbody>
  </table>
</div>
<br>
