<div class="activity-item-inner prerendered {{meta.errorLevel}}">
  <div class="service-sprite {{meta.service}}-{{meta.icon}} activity-item__icon"></div>
  <div class="activity-time" id="time">{{ sentFormatted }}</div>
  <div class="gtrActivityItemText">{{{html}}}</div>
</div>
