<div class="{{meta.service}}-{{meta.event}}{{#if meta.action}}_{{meta.action}}{{/if}}">
  <span class="gtrActivityItemText"><span class='mention' data-link-type="mention" data-screen-name="{{meta.user}}">{{meta.user}}</span> {{meta.action}}
  {{#if payload.issue.number}}<span class="issue">#{{payload.issue.number}}</span>{{/if}}
  </span>
</div>
