<div class="activity-item-inner github-comment">
  <i class="octicon octicon-comment activity-item__icon"></i>
  <div class="activity-time" id="time">{{ sentFormatted }}</div>

  <div class="gtrActivityItemText"><span class='mention' data-link-type="mention" data-screen-name="{{meta.user}}">{{meta.user}}</span> commented on <span data-link-type="commit" data-commit-sha="{{commit.id}}" data-commit-repo="{{meta.repo}}" class="commit">{{commit.short_sha}}</span></span>
</div>
